.c9/
tmp/
vendor/
composer.lock
.nuxt/node_modules/
.nuxt/.nuxt/*
.nuxt/package-lock.json
.plinker/Queue.pid
.plinker/bash/*
.plinker/dbbackup/*
.plinker/iptables/*
.plinker/logs/*
.plinker/system/*
.plinker/database.db
.plinker/.htaccess
config.ini